@import "src/scss/_colors.scss", "src/scss/_mixins.scss";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: $primary;
}

input, button, select {
  font-family: "Kumbh Sans", sans-serif !important;
}

h1, h2, h3, h4 {
  font-weight: 500;
  color: $primary;
}

h1 {
  font-size: 1.25rem;
}

p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

.padding-25 {
  padding: 25px;
}

.border-bottom {
  border-bottom: 1px solid $light-gray;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.custom-container {
  max-width: 1080px;
  margin: 0 auto;
}

.help-text {
  font-size: 0.75rem;
  color: $light-text;
}

.error {
  margin: 5px 0 0;
  color: red;
  font-size: 12px;
}

.mt10 {
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

.customPrimaryBtn {
  background-color: #dedede;
  color: #3c3c3c;
  float: right;
  font-size: 0.75rem;
  line-height: normal;
  padding: 8px 18px;
  text-wrap: nowrap;
  border: none;
}
